@font-face {
  font-family: googlefont;
  src: url('./Google-Sans-Fonts/GoogleSans-Regular.ttf');
}

:root {
  --mainBlue: #2a2e72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  margin: 0;
  padding: 0;
  font-family: googlefont;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

div {
  font-family: googlefont;
}

code {
  font-family: googlefont;
  background-color: red;
}

/* fonts  */
.fs14 {
  font-size: 14px !important;
}

/* padding */
.pt4 {
  padding-top: 1.5rem !important;
}

/* margins  */
.mrauto {
  margin-right: auto !important;
}

.p1 {
  padding: 0.25rem !important;
}

.p5 {
  padding: 3rem !important;
}

/* positions  */
.pos-abs {
  position: absolute !important;
}

/* flexbox  */
.d-inline-block {
  display: inline-block;
}

.dflex {
  display: flex;
}

.justifycontentend {
  justify-content: flex-end;
}

/* positions  */
.pos-r-0 {
  right: 0;
}

.pos-l-0 {
  left: 0;
}

.pos-b-0 {
  bottom: 0;
}

.pos-b-15 {
  bottom: 15px;
}

/* text  */
.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.textcenter {
  text-align: center;
}

/* background  */
.white-bg {
  background-color: white !important;
}

/* font sizes  */
.fs25 {
  font-size: 25px;
}

.fs45 {
  font-size: 45px;
}

/* orientation  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.navbarnav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.navbarbrand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbarnav a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.navbarnav ul {
  margin-top: 0;
}

.navmenu {
  display: block;
  padding: 0.5rem 1rem;
}

/* components  */
.top-navbar {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  display: flex;
  position: relative;
  background-color: white;
  height: 55px;
}

.offertxt {
  background: #ccf5e7;
  padding: 5px;
  border-radius: 5px 25px 25px 5px;
  font-weight: bold;
  position: relative;
  left: -16px;
}

.prom {
  width: 170px;
  height: 40px;
  position: relative;
  top: 36px;
  z-index: 1;
  background: #68a7ff;
  color: white;
  padding: 5px;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
}
.prom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 24px solid #f3f3f3;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.b-layer {
  background-color: #1d2124b3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag-button {
  color: gray !important;
  border-radius: 20px !important;
}

.msgdanger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.msg {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
