@font-face {
  font-family: googlefont;
  src: url('./Google-Sans-Fonts/GoogleSans-Regular.ttf');
}

:root {
  --mainBlue: #2a2e72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  margin: 0;
  padding: 0;
  font-family: googlefont;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

div {
  font-family: googlefont;
}

code {
  font-family: googlefont;
  background-color: red;
}

/* fonts  */
.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs25 {
  font-size: 25px;
}

.fs45 {
  font-size: 45px;
}

.fs-6 {
  font-size: 1rem;
}

/* font weight  */
.fw500 {
  font-weight: 500;
}

/* padding */
.pt4 {
  padding-top: 1.5rem !important;
}

.p-0-25 {
  padding: 0px 25px 25px 25px;
}

/* margins  */
.mrauto {
  margin-right: auto !important;
}

.mt5 {
  margin-top: 3rem !important;
}

.ml2 {
  margin-left: 0.5rem !important;
}

.ml1 {
  margin-right: 1rem !important;
}

.mr3 {
  margin-right: 1rem !important;
}

.p1 {
  padding: 0.25rem !important;
}

.p5 {
  padding: 3rem !important;
}

/* positions  */
.pos-abs {
  position: absolute !important;
}

/* flexbox  */
.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.dflex {
  display: flex;
}

.justifycontentend {
  justify-content: flex-end;
}

/* positions  */
.pos-r-0 {
  right: 0;
}

.pos-l-0 {
  left: 0;
}

.pos-b-0 {
  bottom: 0;
}

.pos-b-15 {
  bottom: 15px;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

/* text color  */
.blue-txt {
  color: var(--mainBlue);
}

.white-txt {
  color: white !important;
}

.green-txt {
  color: green !important;
}

.war-txt {
  color: orange !important;
}

.red-txt {
  color: red !important;
}

.text-bright {
  color: var(--lightBlue);
}

/* text alignemnt */
.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.truncate-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* background  */
.white-bg {
  background-color: white !important;
}

/* button classes  */

.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.green-button {
  color: #fff;
  background-color: #28a745;
}

.light-button {
  color: #212529;
  background-color: #f8f9fa;
}

/* shadow  */
.normal-shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* orientation  */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  justify-content: center;
}

/* screen ratio  */
.screen-1 {
  flex: 0 0 100%;
  max-width: 100%;
}

.screen-1-2 {
  flex: 0 0 48%;
  max-width: 48%;
}

.screen-1-3 {
  flex: 0 0 75%;
  max-width: 75%;
}

.screen-1-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.square {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.square-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.square-title {
  margin-bottom: 0.75rem;
}

.navbarnav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}

.navbarbrand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbarnav a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.navbarnav ul {
  margin-top: 0;
}

.navmenu {
  display: block;
  padding: 0.5rem 1rem;
}

/* components  */
.top-navbar {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  display: flex;
  position: relative;
  background-color: white;
  height: 55px;
}

.offertxt {
  background: #ccf5e7;
  padding: 5px;
  border-radius: 5px 25px 25px 5px;
  font-weight: bold;
  position: relative;
  bottom: -10px;
  left: -10px;
}

.prom {
  width: 170px;
  height: 29px;
  position: relative;
  top: 36px;
  z-index: 1;
  background: #68a7ff;
  color: white;
  padding: 5px;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
}

.prom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 24px solid #f3f3f3;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.b-layer {
  background-color: #1d2124b3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag-button {
  color: gray !important;
  border-radius: 20px !important;
}

.msgdanger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.msg {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 600px) {
  /* screen ratio  */
  .screen-1-4,
  .screen-1-3,
  .screen-1-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
